@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1200px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .rotateY-180 {
    transform: rotateY(180deg);
  }
  .hover\:rotateY-180:hover {
    transform: rotateY(180deg);
  }
}
